<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
</head>
<body>
    <a href="/newRestaurant">Nuevo Restaurant</a>
    <h1>Restaurants</h1>
    <table>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Restaurant
                </th>

                <th>
                    Category
                </th>
                <th>
                    City
                </th>
                <th>
                    Ubicacion
                </th>

                <th>
                    Longitud
                </th>
                <th>
                    Latitud
                </th>
                
            </tr>
            <tr th:each="restaurant : ${restaurantList}">
                <td th:text="${restaurant.id}">
                </td>
                <td th:text="${restaurant.name}">
                </td>

                <td th:text="${restaurant.category.name}">
                </td>

                <td th:text="${restaurant.city.name}">
                </td>

                <td th:text="${restaurant.ubicacion}">
                </td>

                <td th:text="${restaurant.longitud}">
                </td>
                <td th:text="${restaurant.latitud}">
                </td>

                <td>
                    <a th:href="${'/restaurant/'+ restaurant.id}">Ver</a>
                    <a th:href="${'/editRestaurant/'+ restaurant.id}">Editar</a>
                    <a th:href="${'/deleteRestaurant/'+ restaurant.id}">Eliminar</a>
                </td>
            </tr>

    </table>

</body>
</html>