<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Restaurant</title>
    <link rel="stylesheet" href="css/star.css">
    <style>
       #map {
        height: 400px;
        width: 50%;
       }
    </style>
</head>
<body>


  <h1>Restaurant</h1>
  <b>Id:</b> <p th:text="${restaurant.id}"></p>
  <b>Restaurant:</b> <p th:text="${restaurant.name}"></p>

  <b>Descripcion:</b> <p th:text="${restaurant.descripcion}"></p>

  <b>Ubicacion:</b> <p th:text="${restaurant.ubicacion}"></p>

  <b>Categoria:</b> <p th:text="${restaurant.category.name}"></p>

  <b>City:</b> <p th:text="${restaurant.city.name}"></p>

  <b>Foto:</b> <p th:text="${restaurant.foto}"></p>

  <form onsubmit="initMap()" >
      <b>Longitud:</b> <p th:text="${restaurant.longitud}" id="lng"></p>
      <b>Latitud:</b> <p th:text="${restaurant.latitud}" id="lat"></p>
  </form>

  <div id="map"></div>


  <form action="/like" method="POST">
      <input type="hidden" name="restaurant" th:value="${restaurant.id}">
      <select name="user" id="user">
          <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
      </select>
      <button type="submit" value="Like">Like</button>
  </form>

  <p>Lista de likes</p>
  <p th:each="likes : ${restaurant.likes}" >
      <span th:text="${likes.id}"></span>
      <span th:text="${likes.user.name}"></span>
  </p>


  <form action="/comment" method="POST">
        <b>Comentario:</b>

        <input type="hidden" name="restaurant" th:value="${restaurant.id}">
        <textarea name="text" id="text" cols="30" rows="10"></textarea>
        <br>
       <ul class="rate-area">

         <input type="radio" id="fivestar" name="rating" value="5" /><label for="fivestar" title="Amazing">5 stars</label>

         <input type="radio" id="fourstar" name="rating" value="4" /><label for="fourstar" title="Good">4 stars</label>

         <input type="radio" id="treestar" name="rating" value="3" /><label for="treestar" title="Average">3 stars</label>

         <input type="radio" id="twostar" name="rating" value="2" /><label for="twostar" title="Not Good">2 stars</label>

         <input type="radio" id="onestar" name="rating" value="1" /><label for="onestar" title="Bad">1 star</label>

       </ul>

        <input type="submit" value="Guardar"></input>
  </form>
  <p th:each="comment : ${restaurant.comments}" >
        <span th:text="${comment.text}"></span>

  </p>

  <a href="/">Ventana Principal</a>


  <script>
        function getLocation(){
            const latitud=document.querySelector("#lat").textContent;
            const longitud=document.querySelector("#lng").textContent;
            console.log(latitud,longitud);
            uluru={lat: -17.3784403, lng:-66.1484966 };
            uluru[lat]=latitud;
            uluru[lng]=longitud;
            console.log(uluru);
            return uluru;
        }


      async function initMap() {

        const uluru = getLocation();

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }

    </script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV6HFK7LmM_pp27a4G7qNdm8C3yopBj1g&callback=initMap">
  </script>
</body>
</html>